<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>啾啾</string>
    <key>CFBundleDisplayName</key>
    <string>啾啾</string>
    <key>CFBundleIdentifier</key>
    <string>com.jiujiu.cat</string>
    <key>CFBundleVersion</key>
    <string>12</string>
    <key>CFBundleExecutable</key>
    <string>啾啾</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
